@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat.ttf") format("truetype");
}

@media (max-width: 768px) {
  header {
    position: relative;
    padding: 20px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    z-index: 20;
    cursor: pointer;
  }

  nav {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #060d0c;
    padding: 20px;
    z-index: 10;
  }

  header nav.active {
    display: flex !important;
  }
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }

  nav {
    display: flex;
    gap: 100px;
    padding: 40px;
    font-size: 16px;
    letter-spacing: 2px;
  }
}

.burger span {
  width: 30px;
  height: 3px;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #060d0c;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

header a {
  color: gray;
  text-decoration: none;
  transition: color 0.1s ease;
}

.header-active {
  color: #77c99f;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: #77c99f;
  text-decoration-thickness: 2px;
}

footer {
  width: 100%;
  background-color: #131815;
  color: gray;
  text-align: center;
  padding: 50px;
  font-size: 14px;
  border-top: 1px solid #77c99f;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  text-align: left;
}

.ft1 {
  color: white;
  font-size: 20px;
}

.ft2 {
  color: #77c99f;
  font-size: 16px;
}

.right {
  text-align: right;
}
