@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #060d0c;
  padding-right: 100px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 100px;
  padding: 40px;
  font-size: 16px;
  letter-spacing: 2px;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

header a {
  color: gray;
  text-decoration: none;
  transition: color 0.1s ease;
}

.header-active {
  color: white;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: #77c99f;
  text-decoration-thickness: 2px;
}

footer {
  width: 100%;
  background-color: #131815;
  color: gray;
  text-align: center;
  padding: 50px;
  font-size: 14px;
  border-top: 1px solid #77c99f;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  text-align: left;
}

.ft1 {
  color: white;
  font-size: 20px;
}

.ft2 {
  color: #77c99f;
  font-size: 16px;
}

.right {
  text-align: right;
}
