@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: #f0f0f0;
  color: white;
  padding: 0px;
  margin: 0px;
}

header {
  width: 100%;
  background-color: #060d0c;
  padding-right: 100px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 100px;
  padding: 40px;
  font-size: 16px;
  letter-spacing: 2px;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

header a {
  color: gray;
  text-decoration: none;
  transition: color 0.1s ease;
}

.header-active {
  color: white;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: #77c99f;
  text-decoration-thickness: 2px;
}
